.rec1{
    width: 395px;  height: 41px;
    border-radius: 20px; 
    outline: 2px solid #DEDDD6; margin-left: 522px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
}


.p1{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 57px;
}

.txrec1{
    display: flex; 
    gap: 30px; 
    font-size: 12px;
    padding-left: 25px;
    gap: 45px;

}

.rec2{
    width: 108px;  height: 29px;
    border-radius: 20px; 
    outline: 2px solid black; margin-left: 1159px;
    font-size: 12px;  color: black; font-weight: bold;
    padding-left: 20px; align-items: center; justify-content: center;
    text-align: center; text-align: left; padding-top: 5px;
}

.p2{
 font-size: 80px;
 font-weight: bold;  
 position: absolute;
 margin-top: -497px;
 margin-left: 57px;
 color: white;
 font-weight: 900;
}

.p3{
 font-size: 15px;
 position: absolute;
 margin-top: -297px;
 margin-left: 57px;
 color: white;
}

.rec3{
    width: 169px;  height: 45px;
    border-radius: 20px; 
    outline: 2px solid black; margin-left: 57px;
    font-size: 15px;  color: black; font-weight: bold;
    padding-left: 20px; align-items: center; justify-content: center;
    text-align: center; text-align: left; padding-top: 5px; position: absolute;
    margin-top: -250px; background-color: white; padding-top: 2px;
    display: flex; gap: 20px;
      
}

.rec4{
    background-color: white;
    width: 873px; height: 134px;
    display: flex; position: absolute;
    margin-top: -40px; border-radius: 30px;
    justify-content: center; gap: 80px;
}

.p4{
 font-size: 100px; font-weight: bold; 
            margin-top: 180px; margin-left: 57px ;
}

.p5{
 font-size: 30px; font-weight: bold; 
 margin-top: -90px; margin-left: 57px ;
}

.rec5{
    background-color: white; width: 275px;
     height: 332px;    
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 20px; margin-left: 57px; gap: 30px;
      transition: all 0.5s ease;

}
   

.rec5:hover{
    animation: bounce 0.6s ease;
}

@keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-20px);
      }
      60% {
        transform: translateY(-10px);
      }

    }


   .rec6{
    background-color: black; height: 748px; width: 1440px; display: flex;
    justify-content: center;
   }

   .p6{
 font-size: 100px; font-weight: bold; 
            margin-top: 180px; margin-left: 57px ; color: white;
}

   .p7{
            font-size: 20px; font-weight: bold; 
            margin-left: 57px ; color: white; margin-top: -100px;

            
}

.p8{
    font-size: 200px; font-weight: bold; 
            margin-left: 57px ; color: black; margin-top: -80px;
            font-family:'Libre Baskerville', serif; font-weight: bold;
}


   .p9{
            font-size: 15px; font-weight: bold; 
            margin-left: -517px ; color: black;       
}

.rec7{
    background-color: black;  width: 1440px; height: 253px;
    display: flex; gap: 270px;
}

.p10{
   text-decoration: none; justify-content: center; color: white; 
   justify-content: center; display: flex; align-items: center; margin-top: 10px;
}

.rec8{
    margin-left: 247px; 
    position: absolute; 
    background-color: blue; margin-top: -32px; 
    border-radius: 10px;
    height: 29px; width:75px ;
    font-size: 7px; color: white; text-align: center;
}

.rec9{
    width: 108px;  height: 29px;
    border-radius: 20px; 
    font-size: 10px;  color: black; font-weight: bold;
    padding-left: 20px; align-items: center; justify-content: center;
    margin-left: 47px; width: 255px; border-radius: 10px;
    outline: none;                   
    transition: all 0.3s ease;  
}

.rec9:focus {
      border-color: #0078ff;
      box-shadow: 0 0 8px rgba(0, 120, 255, 0.6);
    }